// 页面公用元素样式
input,
.form-btn,
.file-box,
.link-btn,
select
  display block
  width 100%
  height .62rem
  padding .06rem .12rem
  margin-bottom .4rem
  font-size .28rem
  line-height .48rem
  color #fff
  background-image none
  border 1px solid #ccc
  border-radius .04rem
  -webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075)
  box-shadow inset 0 1px 1px rgba(0,0,0,.075)
  -webkit-transition border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s
  -o-transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
  transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
.btn
  text-align center
  line-height .48rem
  letter-spacing .05rem
  background-color transparent
input:focus
  border-color #66afe9
  outline 0
  -webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
  box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
.system-title
  padding-top .2rem
  font-size 26px
  text-align center
  color #00a0df
.site-box
  width 100%
  height .62rem
  padding-left 6px
  font-size 28px
  background url(../images/more_unfold.svg) no-repeat right
.site-box option
  font-size 14px
.district-main,.trailing-main
  margin 1.4rem .4rem 0 .4rem
.district li,.trailing li
  font-size 32px
  margin-bottom .56rem
// 跳转a链接按钮样式
.jump-title
  padding 0 .2rem
  color #fff
  border-radius 30px
  background-color #00bb00
  cursor pointer
//输入框样式
.text-input
  padding-left .6rem
  border 0
  color #fff
  border-radius 0
  box-shadow none
  border-bottom 1px solid #ddd
  background-color transparent
//图片库
.icon-school
  background url(../images/school.svg) no-repeat 0
  background-size .38rem
.icon-catti
  background url(../images/catti.svg) no-repeat 0
  background-size .38rem
.icon-activate
  background url(../images/activate.svg) no-repeat 0
  background-size .38rem
.icon-search
  background url(../images/search.svg) no-repeat .2rem
  background-size .38rem
.icon-user
  background url(../images/user.svg) no-repeat 0
  background-size .38rem
.icon-password
  background url(../images/psd.svg) no-repeat 0
  background-size .38rem
//容器
.container
  padding 0 .8rem
  height 100%
.mt40
  margin-top .4rem
